* {
    margin: 2px ;
}

body {
    font-size: 18px;
    color: black;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 900px;
    /* background-color: rgb(13, 127, 142); */
}

header {
    background-color: skyblue;
    padding: 3rem;
    padding-bottom: 3rem;
    border: 2px solid white;
}

main {
    display: flex;
    border: 2px solid white;
    
}

nav {
    background-color: green;
    padding: 3rem;
    font-size: 20px;
    
}

article {
    background-color: beige;
    padding-top: 3rem;
}
    

p {
    line-height: 1.2;
}

img {
    height: 497px;
}

footer {
    background-color: cadetblue;
    padding-top: 6px;
    padding-bottom: 0px;
}