* {
    /* background: scroll; */
}

body {
    color: rgb(14, 14, 15);
}

.row1 {
    /* background: rgb(13, 201, 189); */
    overflow: auto;
    position: sticky;
}

header {
    /* width: 950px; */
    margin: auto;
    overflow: auto;
    background-image: url(./amm.jpg);
    /* opacity: 0.7; */
    position: sticky;
    border: 2px solid;
}

.row1 h2 {
    margin-left: 35px;
    margin-top: 39px;
}

.row2 {
    border: 2px solid black;
}

h2 {
    font-size: 35px;
    color: rgb(238, 241, 242);
}

.row1 form input[type="text"] {
    width: 210px;
    height: 25px;
    border-radius: 15px;
}

.row1 form button {
    height: 25px;
    border-radius: 20px;
}

.America {
    width: 300px;
    float: left;
    margin: 20px 20px 20px 0;
}

nav {
    width: 450px;
    float: right;
    margin: 20px 20px 20px 20px;
    margin-top: 50px;
    padding-left: 25px;
    margin-right: 55px;
}

header nav ul li {
    display: inline;
    justify-content: space-between;
    margin: 17px;
    border-radius: 15px;
    font-size: 15px;
}

header form {
    margin-top: 70px;
    float: left;
}

li a {
    color: white;
}

li:hover {
    background-color: black;
}

.row2 {
    /* width: 950px; */
    background-color: rgb(19, 153, 153);
    margin: auto;
    text-align: center;
    color: white;
    /* background-image: url(./banner.jpg.crdownload); */
    /* height: 1000px border:2px solid; */
}

.row2 ul {
    font-size: 20px;
    color: white;
    /* margin-top: 10px; */
}

.row2 h1 {
    color: rgb(0, 8, 8);
    font-size: 40px;
}

.row2 button {
    height: 50px;
    color: black;
    border-radius: 35px;
    width: 120px;
    background-color: orange;
    font-size: 15px;
    margin-right: 220px;
}

.row2 button a {
    color: rgb(0, 0, 0);
}

.form {
    padding: 15px;
    float: left;
    margin-left: 98px;
    border: 1px solid black;
    background: rgb(22, 223, 230);
    color: rgb(240, 21, 72);
    margin-top: 26px;
    margin-top: 60px;
}

.row2 .About.Tourisam p {
    font-size: 20px;
}

.About.Tourisam {
    display: flex;
    flex-direction: row;
}

aside img {
    height: 250px;
    opacity: 0.8;
    border-radius: 35px;
}

.C1 {
    display: flex;
    width: 710px;
    margin-top: 60px;
    margin-left: 50px;
    justify-content: space-between;
    font-size: 20px;
}

.C2 {
    display: flex;
    margin-top: 25px;
    margin-left: 49px;
    font-size: 20px;
    justify-content: space-between;
    width: 666px;
}

button {
    margin-top: 20px;
}

aside {
    /* border: 2px solid; */
}

main {
    display: flex;
    flex-direction: row;
    /* border: 2px solid; */
}

article {
    border: 2px solid;
    font-size: 20px;
    /* position: fixed; */
}

article:hover {
    background-color: palegoldenrod;

}

article h2:hover {
    background: fixed;
}

main sec {
    border: 2px solid;
    /* position: fixed; */
}


section ul {
    display: inline-flex;
}

aside .m1 img#opacit0 {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

#opacit0 {
    opacity: 0.9;
    width: 350px;
    height: 200px;
}

aside .m1 img#opacit0:hover {
    transform: rotate(180deg);
}

.head {
    position: absolute;
    z-index: 1;
    height: 10px;
    color: rgb(162, 12, 89);
}

article p {
    text-shadow: 5px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}

.row3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(216, 227, 227);
    counter-reset: section;
    border: 2px solid;
}

tr {
    background: lightcyan;
}

.T2 h1 {
    counter-reset: subsection;
}

h3 {
    background: url(./statue-of-liberty.webp) top left no-repeat;
    background-size: 15px;
    background-position: 0px;
    padding: 18px;
}

.row3 h1::before {
    counter-increment: section;
    content: "section -" counter(section) ":";
}

h3::before {
    counter-increment: subsection;
    content: "Travel" counter(section) ":" counter(subsection)
}

.T2 {
    display: flex;
    width: 770px;
    justify-content: space-between;
    margin-left: 30px;
    color: black;
}

.T2 .count2 {
    color: olivedrab;
}

.ani {
    border: 20px dotted rgb(2, 12, 16);
    width: 300px;
    height: 250px;
    position: relative;
    animation-name: rotate;
    animation-duration: 8s;
    border-radius: 35%;
    top: 30px;
    left: 30px;
    background-image: url(./view-old-tree-lake-with-snow-covered-mountains-cloudy-day_181624-28954.avif );
    animation: rotate 10s linear infinite;

}

@keyframes rotate {
    15% {
        border: 1px dotted rgb(9, 5, 50);


    }

    25% {
        border: 2px dotted rgb(69, 21, 213);


    }

    35% {
        border: 2px dotted rgb(236, 16, 16);
    }

    45% {
        border: 2px dotted lime;
    }

    55% {
        border: 2px dotted rgb(192, 130, 14);
    }

    75% {
        border: 2px dotted rgb(192, 14, 124);
    }

    85% {
        border: 2px dotted rgb(198, 226, 16);
    }
}

.row2 ul {
    font-size: 20px;
    color: rgb(239, 241, 237);
    margin-top: 32px;
}

.row2 ul:hover {
    text-shadow: black;
    background-color: blue;
}

.row4 {
    border: 2px solid;
    margin: auto;
    position: relative;

}

/* .iborder{
            position: fixed;
            left: 10px;
            bottom:10px;
            
        } */
.row4 .iborder img {
    border: 10px solid;
    border-image: url(./12.jpg) 15% round;


}

.media {
    display: flex;
    width: 900px;
}

.row4 {
    border: 2px solid;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.row4 {
    border: 2px solid;
    margin: auto;
    display: flex;
    padding: 20px;
    background-color: beige;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted red;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    /* bottom: 30px; */
    padding: 15px;
    left: 50%;

}

.tooltip:hover .tooltipText {
    visibility: visible;
    color: rgb(8, 243, 243);
}

.amz .abrivation {
    visibility: hidden;
}

.amz:hover .abrivation {
    visibility: visible;
    background-color: rgb(25, 199, 71);
}

footer {
    border: 2px solid;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background: rgb(240, 227, 227);
}

article h2 {
    text-shadow: 5px 5px black;
}

sec h2 {
    text-shadow: 5px 5px black;
}